<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chemdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChemDroid">
        <activity android:name=".Q10Activity"></activity>
        <activity android:name=".Q9Activity" />
        <activity android:name=".Q8Activity" />
        <activity android:name=".Q7Activity" />
        <activity android:name=".Q6Activity" />
        <activity android:name=".Q5Activity" />
        <activity android:name=".Q4Activity" />
        <activity android:name=".Q3Activity" />
        <activity android:name=".Q2Activity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Chemical1Activity" />
        <activity android:name=".Symbolism1Activity" />
        <activity android:name=".Evolution1Activity" />
        <activity android:name=".Early1Activity" />
        <activity android:name=".Accuracy1Activity" />
        <activity android:name=".Treatment1Activity" />
        <activity android:name=".Measurement1Activity" />
        <activity android:name=".Physical1Activity" />
        <activity android:name=".Phases1Activity" />
        <activity android:name=".Essential1Activity" />
        <activity android:name=".Q1Activity" />
        <activity android:name=".VideosActivity" />
        <activity android:name=".E10Activity" />
        <activity android:name=".E9Activity" />
        <activity android:name=".E8Activity" />
        <activity android:name=".E7Activity" />
        <activity android:name=".E6Activity" />
        <activity android:name=".E5Activity" />
        <activity android:name=".E4Activity" />
        <activity android:name=".E3Activity" />
        <activity android:name=".E2Activity" />
        <activity android:name=".E1Activity" />
        <activity android:name=".CfActivity" />
        <activity android:name=".AssActivity" />
        <activity android:name=".EatActivity" />
        <activity android:name=".EiatActivity" />
        <activity android:name=".MtmrActivity" />
        <activity android:name=".MuapActivity" />
        <activity android:name=".MeasurementActivity" />
        <activity android:name=".PcpActivity" />
        <activity android:name=".PcmActivity" />
        <activity android:name=".CicActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".FlashcardActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".StudyActivity" />
        <activity android:name=".ItemActivity" />
        <activity
            android:name="com.example.drawer.MainActivity1"/>

        <activity
            android:name=".splash"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>